.header {
	margin-top: 71px;
	display: flex;
	font-size: calc(10px + 1vmin);
	align-items: center;
	justify-content: space-around;
}

.title {
	border-bottom: 2px solid black;
}

.title::before {
	content: "Hi, I'm";
	position: absolute;
	top: -5px;
	transform: rotateZ(-35deg);
	position: absolute;
	left: -50px;
	font-size: 0.9rem;
}

.me {
	position: relative;
}

.connect-profiles {
	display: flex;
	justify-content: center;
	align-items: center;
}

.connect {
	display: flex;
}

.icon {
	color: black;
	background-color: transparent;
	margin: 0 10px;
}

@media (max-width: 550px) {
	.header {
		margin-top: 100px;
		flex-direction: column;
	}
}
