.header {
	display: flex;
	font-size: calc(10px + 1vmin);
	align-items: center;
	justify-content: space-around;
	margin: 70px 5px;
	margin-bottom: 30px;
}

.title {
	border-bottom: 2px solid black;
	position: relative;
	white-space: nowrap;
	margin: 10px;
}

.title::before {
	content: "Hi, I'm";
	position: absolute;
	top: -15px;
	transform: rotateZ(-35deg);
	left: -30px;
	font-size: 0.9rem;
}

.me {
	position: relative;
	margin: 2px;
}

.connect-profiles {
	display: flex;
	justify-content: center;
	align-items: center;
}

.connect {
	display: flex;
}
.connect .sub-title {
	white-space: nowrap;
}

.icon-link {
	color: black;
	background-color: transparent;
	margin: 0 10px;
	background-color: #fff;
	border: 0;
	cursor: pointer;
	padding: 0;
	position: relative;
	height: 30px;
	width: 30px;
}

@media (max-width: 550px) {
	.header {
		margin-top: 100px;
		flex-direction: column;
	}
	.me {
		margin-top: 40px;
	}
}
