.header {
	margin-top: 60px;
	display: flex;
	font-size: calc(10px + 1vmin);
	color: white;
	align-items: center;
	justify-content: space-around;
}

.sub-text {
	color: white;
	line-height: 22px;
	letter-spacing: 2px;
}

@media (max-width: 400px) {
	.header {
		margin-top: 100px;
	}
}
