.canvas-container {
	position: relative;
	margin: 0 auto;
	width: 500px;
	height: 500px;
}

#canvas {
	border: 1px solid white;
	position: absolute;
	border-radius: 3px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 500px;
	background-color: lightblue;
	display: block;
}
